<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css" />
    <script src='https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js'></script>

</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <!-- <label>
                    Id：
                  <input type="text" v-model="id">
                </label> -->
                <label>
                    Name：
                    <input type="text" v-model="name" class="form-control">
                </label>

                <input type="button" value="添加" class="btn btn-primary" @click="add()">
                <input type="button" value="查询所有" class="btn btn-primary" @click="getAllList()">

            </div>
        </div>


        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operator</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" @click="del(item.id)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        //如果我们通过了全局配置了请求数据接口根域名
        //则，每次单独发起http请求时，请求url路径应该用相对路径开头
        //前面不能带/ 否者不会访问到

        Vue.http.options.root='http://www.liulongbin.top:3005/';
        Vue.http.headers.common['Authorization']='Basic YXBpOnBhc3N3b3jK';//认证参数

        //全局启用emulateJSON选项
        Vue.http.options.emulateJSON=true;
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                list: []
            },
            methods: {
                add() {
                    var url = 'api/addproduct';
                    if(this.name==""){
                        //name必填
                        return ;
                    }
                    this.$http.post(url, {
                        name: this.name
                    }).then(
                        //成功回调
                        function (result) {
                            if (result.body.status == 0) {
                                this.getAllList();
                                alert(result.body.message);
                            } else {
                                alert(result.body.message);
                            }

                        }
                        //失败回调
                    );
                },
                getAllList() {
                    //获取所有列表
                    var url = 'api/getprodlist';
                    this.$http.get(url, {}).then(result => {
                            if (result.body.status == 0) {
                                //console.log(result.body.message);
                                this.list = result.body.message;
                            } else {
                                alert(result.body.message);
                            }

                        }
                        //失败回调
                    );
                },
                del(id) {
                    //删除
                    var url = 'api/delproduct/' + id;
                    this.$http.get(url, {}).then(
                        //成功回调
                        function (result) {
                            if (result.body.status == 0) {
                                //删除成功从新加载数据
                                this.getAllList();
                                alert(result.body.message);
                            } else {
                                alert(result.body.message);
                            }

                        }
                        //失败回调
                    );
                }

            },
            created() {
                //页面加载的时候调用
                this.getAllList();
            }
        });
    </script>
</body>

</html>